<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    
    <bean class="com.library.repository.BookRepository"  id="BR1">
    </bean>
    <bean class="com.library.service.BookService"  id ="BS1" >
    <property name="bookRepository"
                  ref="BR1"/>
    
    </bean>

</beans>